<div class="comments">
  <%= render partial: 'comments/comment', locals: {comments: comments} %>
</div>

<div class="comment-form">
<%= form_with model: [restaurant, comment], remote: true do |f| %>
  <%= f.text_field :comment, class: 'comment-comment', placeholder: 'メモ' %>
  <%= f.submit '送信', class: 'comment-submit' %>
<% end %>
</div>

