<div class="btn">
  <%= link_to restaurant_wents_path(restaurant.id), method: :post, remote: true do %>
    <%= image_tag("went.png") %>
  <% end %>
  <p class="count"><%= restaurant.wents.count %></p>
 </div>
