<div class="wrapper">
  <div class="main-wrapper">
    <div id="sidebar">
      <%= render partial: "relationships_sidebar", locals: { tags: @tags, restaurants: @restaurants } %>
    </div>
    <div class="hamburger-menu-share">
      <input type="checkbox" id="menu-btn-check">
      <label for="menu-btn-check" class="menu-btn"><span></span></label>
          <!--ここからメニュー-->
      <div class="menu-content">
        <%= render partial: "relationships_sidebar", locals: { tags: @tags, restaurants: @restaurants } %>
      </div>
    <!--ここまでメニュー-->
    </div>
    <div id="relationships-main", class="relationships-main">
      <%= render partial: "relationships_main", locals: { p: @p } %>
    </div>
    <%= render partial: "relationships/new", locals: { users: @users } %>
  </div>
</div>