<div class="wrapper">
  <div class="main-wrapper">
    <div id="sidebar">
      <%= render partial: "relationships_sidebar", locals: { tags: @tags, restaurants: @restaurants } %>
    </div>
    <div id="relationships-main">
      <%= render partial: "relationships_main" %>
    </div>
  </div>
</div>