<div>index</div>
<div class="wrapper">
  <div class="main-wrapper">
    <div id="sidebar">
      <%= render partial: "sidebar", locals: { tags: @tags, restaurants: @restaurant_all } %>
    </div>
    <div id="main">
      <%= render partial: "restaurants/main", locals: { p: @p } %>
    </div>
    <%= render partial: "restaurants/new", locals: { restaurant_form: @restaurant_form } %>
  </div>
</div>
