<div class="wrapper">
  <div class="main-wrapper">
    <%= render partial: "restaurants/sidebar", locals: { tags: @tags } %>
    <%= render partial: "main", locals: { p: @p, restaurants: @restaurants, tag: @tag } %>
  </div>
</div>


