/* ヘッダー */
header {
  height: 260px;
  width: 100%;
  background-color: #EEEBEB;
  display: flex;
  align-items: center;
  justify-content: left;
}
.header-left {
  max-width: 80%;
  height: 100%;
  margin-left: 50px;
  display: flex;
}
.header-left a {
  max-width: 67%;
  height: 100%;
}
.header-left img {
  max-width: 100%;
}
.person {
  width: 33%;
  height: 100%;
}
.heart-button {
  width: 31%;
  max-height: 100%;
}
.heart-button-blue {
  width: 25%;
  max-height: 100%;
}
.heart-button-yellow {
  width: 36%;
  max-height: 100%;
}
.heart-button img, .heart-button-blue img, .heart-button-yellow img {
  max-width: 100%;
  max-height: 100%;
}
.header-right {
  max-width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-right a {
  max-height: 40px;
  display: inline-block;
  background-color: #FFAD32;
  padding: 2px 10px;
  margin-right: 15px;
  color: white;
  text-decoration: none;
  border-radius: 15px;
}


/* ハート */
.heart-button {
  /* ボタン要素の大きさや色 */
  position: relative;
  display: inline-block;
  /* その他必要なスタイル */
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}
/* ハートの共通スタイル */
.heart-button::before,
.heart-button::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 20px;
  position: absolute;
  opacity: 0;
}
/* 左上のハートのスタイル */
.heart-button::before {
  background-image: url('red.png');
  top: 40px;
  left: 10px;
}
/* ========= ホバー時のスタイル ======== */
/* ボタンホバー時の左上のハートのスタイル */
.heart-button:hover::before {
  animation: heart 1.5s infinite ease-out;
}
/* ========= アニメーションの設定 ======== */
@keyframes heart {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20px) scale(1.4);
    opacity: 0;
  }
}
/* ========= SPのスタイル ======== */
@media screen and (max-width: 768px) {
  /* 左上のハートのスタイル */
  .heart-button::before {
    animation: heart 1.5s infinite ease-out;
  }
}


/* blue */
/* ハート */
.heart-button-blue {
  /* ボタン要素の大きさや色 */
  position: relative;
  display: inline-block;
  /* その他必要なスタイル */
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}
/* ハートの共通スタイル */
.heart-button-blue::before,
.heart-button-blue::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 20px;
  position: absolute;
  opacity: 0;
}
/* 左上のハートのスタイル */
.heart-button-blue::before {
  background-image: url('blue.png');
  top: 40px;
  left: 0px;
}
/* ========= ホバー時のスタイル ======== */
/* ボタンホバー時の左上のハートのスタイル */
.heart-button-blue:hover::before {
  animation: heart 1.5s infinite ease-out;
}
/* ========= アニメーションの設定 ======== */
@keyframes heart {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20px) scale(1.4);
    opacity: 0;
  }
}
/* ========= SPのスタイル ======== */
@media screen and (max-width: 768px) {
  /* 左上のハートのスタイル */
  .heart-button-blue::before {
    animation: heart 1.5s infinite ease-out;
  }
}

/* yellow */
/* ハート */
.heart-button-yellow {
  /* ボタン要素の大きさや色 */
  position: relative;
  display: inline-block;
  /* その他必要なスタイル */
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}
/* ハートの共通スタイル */
.heart-button-yellow::before,
.heart-button-yellow::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 20px;
  position: absolute;
  opacity: 0;
}
/* 左上のハートのスタイル */
.heart-button-yellow::before {
  background-image: url('yellow.png');
  top: 40px;
  left: 10px;
}
/* ========= ホバー時のスタイル ======== */
/* ボタンホバー時の左上のハートのスタイル */
.heart-button-yellow:hover::before {
  animation: heart 1.5s infinite ease-out;
}
/* ========= アニメーションの設定 ======== */
@keyframes heart {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20px) scale(1.4);
    opacity: 0;
  }
}
/* ========= SPのスタイル ======== */
@media screen and (max-width: 768px) {
  /* 左上のハートのスタイル */
  .heart-button-yellow::before {
    animation: heart 1.5s infinite ease-out;
  }
}



/* タブレット表示時 */
@media (max-width: 599px) {
  header {
    height: 400px;
    width: 100%;
    background-color: #EEEBEB;
    align-items: center;
    display: block;
  }
  .header-left {
    height: 400px;
    margin-left: 50px;
    position: relative;
  }
  .header-left img {
    height: 400px;
    display: flex;
  }
  .heart-button-blue, .heart-button-yellow {
    visibility: hidden;
  }
  .header-right {
    margin: 0 auto;
    position: absolute;
    top: 100px;
    left: 700px;
    width: 200px;
  }
  .header-right a {
    height: 30px;
    width: 50px;
    font-size: 10px;
    line-height: 30px;
  }
}


