@media (max-width: 960px) {
.menu-content {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 80;
  background-color: lightpink;
}
.menu-content-share {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 80;
  background-color: lightpink;
}
.menu-content-show {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 80;
  background-color: lightpink;
}
}

@media (max-width: 520px) {
  .menu-content {
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 80;
    background-color: lightpink;
  }
  .menu-content-share {
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 80;
    background-color: lightpink;
  }
  .menu-content-show {
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 80;
    background-color: lightpink;
  }
  .sidebar {
    width: 150px;
    padding-top: 35px;
  }
  .restaurant-new {
    width: 150px;
  }
  .sidebar h1 {
    font-size: 15px;
  }
  .sidebar a {
    text-decoration: none;
    color: black;
  }
  .sidebar a:hover {
    color: gray;
    border-bottom: solid 1px gray;
  }
  .sidebar h2 {
    font-size: 12px;
  }
  .search-input {
    width: 60px;
    height: 15px;
  }
  .search-btn {
    border-radius: 10px;
    height: 25px;
  }
  .search-from-name, .user-follow-lists {
    margin-left: 10px;
  }
  .search-from-station {
    margin-left: 10px;
    margin-top: 15px;
  }
  .station-list, .user-follow-list {
    margin-left: 0px
  }
  .tag a {
    text-decoration: none;
  }
  .tag {
    margin: 5px 0 10px 0;
    font-size: 10px;
  }
  .follow {
    font-size: 10px;
  }
}