
.restaurant-registration {
  width: 600px;
  height: 600px;
  background-color: #FFFFFF;
  padding: 30px;
  display: none;
  position: fixed;
  left: 30%;
  z-index: 100;
  overflow: scroll;
}
.indispensable {
  display: inline-block;
  background-color: red;
  width: 40px;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  margin-left: 15px;
}
.weight-bold-text {
  margin-top: 15px;
}
.submit-btn {
  margin-top: 15px;
}