<div class="wrapper">
  <div class="main-wrapper">
    <div id="sidebar">
      <%= render partial: "sidebar", locals: { tags: @tags, restaurant_all: @restaurant_all } %>
    </div>
    
    <div class="main">

      <%= render partial: "map" %>
    
      <div class="middle">
        <div class="line">
          <a href="#">Line</a>
        </div>
      </div>
              
      <div id="restaurants">
      <%= render partial: "restaurant", locals: { restaurants: @restaurants } %>
      </div>
    </div>
    <%= render partial: "new", locals: { restaurant_form: @restaurant_form } %>
  </div>
</div>

