<div class="wrapper">
  <div class="main-wrapper">
    <%= render partial: "sidebar", locals: { tags: @tags } %>
    <%= render partial: "main", locals: { p: @p, restaurants: @restaurants } %>
  </div>
</div>


