<div class="wrapper show-wrapper">
  <div class="main-wrapper show-main-wrapper">
    <div id="sidebar">
      <%= render partial: "sidebar", locals: { tags: @tags, restaurant_all: @restaurant_all } %>
    </div>
    
    <div id="main">
      <%= render partial: "show", locals: { restaurant: @restaurant, performance: @performance } %>
    </div>
    
    <%= render partial: "new", locals: { restaurant_form: @restaurant_form_new } %>
    <%= render partial: "edit", locals: { restaurant_form: @restaurant_form, restaurant: @restaurant } %>
  </div>
</div>








